.advertise-image {
    clip-path: polygon(36% 0, 100% 0%, 100% 100%, 0 100%);
}

.slide-active-zoom-in {
    transition: all 0.3s linear;
    transform: scale(0);
}

.advertise-section .swiper-slide-active .slide-active-zoom-in {
    transform: scale(1.1);
}