.instructor-picture {
    margin-top: -75px;
    border-width: 5px;
}

.swiper-button-prev,
.swiper-button-next {
    color: gray !important;
    /* border: 1px solid gray; */
    box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.75);
    font-size: 10px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    background-color: white;
    transition: all 0.2s linear;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: white !important;
    background-color: #51DBDC;
}

.swiper-button-prev {
    left: 8% !important;
}

.swiper-button-prev::after {
    font-size: 23px !important;
    margin-right: 5px;
}

.swiper-button-next {
    right: 8% !important;
}

.swiper-button-next::after {
    font-size: 23px !important;
    margin-left: 5px;
}